doctype html
html
    head
        link(rel='stylesheet', type='text/css', href='./css/style.css', media='all')
        script(src='./js/lib/bundle.min.js', type='text/javascript')
        script(src='./js/app.js', type='text/javascript')
    body
        div#particles-js


















